@page
@model ContactModel
@{
    ViewData["Title"] = "Unicorn Apps";
}
<span class="header" style="font-size:70px">@ViewData["Title"]  </span>
<span class="header" style="font-size:30px">  Enjoy the magic!</span>
<br />
<br />
<h2>Love Detector</h2>
<p>
    press the button to see if you will have good luck in love
    <input type="button" class="awesomebutton" onclick="Love()" value="Get Love" />
    <span id="resultlove" class="result">.</span>
</p>

<br />
<h2>Unicorn Name Generator</h2>
<p>
    press the button and get an awesome and colorful name!
    <input type="button" class="awesomebutton" onclick="UnicornName()" value="Get Name" />
    <span id="resultname" class="result">.</span>
</p>
